.contact__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
}

.contact__item > p {
    padding: 3px;
}

.contact__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.contact__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul, p {
    padding: 0;
    margin: 0;
}